$lightGreen: #b9e7e7;

.container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;

    h6 {
      font-size: 1rem;
      font-weight: 400;
      transition: all ease 0.1s;
      padding: 1rem 10px;
      border-radius: 4px;

      &:hover {
        background-color: rgba(200, 200, 200, 0.14);
      }
    }
  }

  .auth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
      border: none;
      cursor: pointer;
      padding: 10px;

      border-radius: 10px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .write {
      background-color: $lightGreen;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      border: 1px solid transparent;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: teal;
        border: 1px solid teal;
      }
    }
  }
}
