.container {
  display: flex;
  gap: 50px;
  margin: 2rem 0;

  .content {
    flex: 5;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 42px;
      color: #333;
    }

    p {
      text-align: justify;
      line-height: 30px;
    }

    div {
      .img_container {
        position: relative;
        width: 100%;
        height: 24rem;
      }
      .user {
        .userImage {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userInfo {
          margin: 10px;
          span {
            font-weight: bold;
          }
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
