$lightGreen: #b9e7e7;

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  height: 100%;

  .post {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }

    .img_container {
      flex: 2;
      position: relative;
      width: 100%;
      height: 24rem;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $lightGreen;
        position: abosolute;
        top: 20px;
        left: -20px;
        z-index: -1;
      }
    }

    .content {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0;

      h1 {
        font-size: 3rem;
        margin: 0;
        color: rgb(40, 40, 40);
      }

      p {
        font-size: 18px;
        max-height: 18rem;
        overflow: hidden;
      }
    }
  }
}
