.container {
  display: flex;
  gap: 20px;
  padding: 2rem 0;
  height: 90vh;

  .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      padding: 10px;
      border: 1px solid lightgray;
    }

    .editor_container {
      height: 100%;
      overflow: scroll;
      border: 1px solid lightgray;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background: lightgray;
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-track {
        background: rgba(225, 225, 225, 0.2);
      }

      .editor {
        height: 100%;
        border: none;
      }
    }
  }

  .menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item {
      border: 1px solid lightgray;
      padding: 10px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 14px;
      color: #555;

      .category {
        margin: 1rem 0;
      }

      .info {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
        flex-direction: column;
      }

      h1 {
        font-size: 24px;
      }

      .file {
        cursor: pointer;
        text-decoration: underline;
      }

      .buttons {
        display: flex;
        justify-content: space-between;

        :first-child {
          cursor: pointer;
          color: teal;
          background-color: #fff;
          border: 1px solid teal;
          padding: 6px;
        }

        :last-child {
          cursor: pointer;
          color: #fff;
          background-color: teal;
          border: 1px solid teal;
          padding: 6px;
        }
      }
    }
  }
}
